---
// src/pages/writings.astro
import "../styles/global.css";
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import Analytics from "@vercel/analytics/astro";
import { Image } from "astro:assets";
import frieren from "../../public/frieren.png";
import Navbar from "../components/Navbar.astro";
const posts = await getCollection("writings");
---

<!doctype html>
<html lang="en" class="bg-no-repeat bg-cover bg-fixed bg-center">
  <Header
    title="mnprt's site"
    description="hey! i am manpreet. i do computer stuff."
  />
  <body
    class="font-serif min-h-dvh w-full md:backdrop-blur-[5px] bg-neutral-200 dark:bg-background/85 weeb:bg-background/85"
  >
    <Analytics />
    <div
      class="container mx-auto lg:max-w-screen-md text-textBlack dark:text-zinc-50 weeb:text-zinc-50 text-sm md:text-base p-5 tracking-wide"
    >
      <Navbar />
      <div class="weeb:flex weeb:gap-10 pt-20 weeb:items-start">
        <Image
          class="max-h-0 weeb:block weeb:max-h-[400px] w-full max-w-[200px] md:max-w-[400px] object-contain transition-[max-height] transform ease-in-out duration-100"
          alt="frieren standing in garden of flowers"
          loading="eager"
          src={frieren}
        />
        <div class="flex flex-col gap-4 md:gap-10">
          <h1
            class="text-xl md:text-4xl text-textBlack/90 dark:text-textWhite weeb:text-textWhite"
          >
            mnprt.me
          </h1>
          <ul class="flex flex-col gap-2"></ul>
        </div>
      </div>
      <div class="flex flex-col gap-3 weeb:pt-8">
        <h1
          class="text-sm md:text-xl pb-2 text-textBlack/90 dark:text-textWhite weeb:text-textWhite"
        >
          About
        </h1>
        <p>Hey! I'm manpreet.</p>
      </div>
      <div class="pt-8">
        <h1
          class="text-sm md:text-xl pb-2 text-textBlack/90 dark:text-textWhite weeb:text-textWhite"
        >
          Projects
        </h1>
        <div class="flex flex-col gap-2">
          <div
            class="border-[1px] p-2 border-textWhite dark:border-textWhite/30 weeb:border-textWhite/30"
          >
            <h1 class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500">
              <a href="https://hnsearch.mnprt.me"> Hackernews Search </a>
            </h1>
            <p>
              Search engine for hackernews. Currently indices 100k items and
              uses BM25 for ranking.
            </p>
          </div>
        </div>
      </div>
      <div class="pt-8">
        <h1
          class="text-sm md:text-xl pb-2 text-textBlack/90 dark:text-textWhite weeb:text-textWhite"
        >
          Posts
        </h1>
        <ul class="flex flex-col gap-2">
          {
            posts
              .filter((post) => !post.data.hidden)
              .sort((p1, p2) => p1.data.date < p2.data.date)
              .map((post) => (
                <a
                  href={`/posts/${post.slug}/`}
                  class="visited:text-purple-500 text-blue-500"
                >
                  <li class="hover:cursor-pointer hover:bg-blue-400/30">
                    {post.data.date.toLocaleString("default", {
                      month: "short",
                    })}
                    {post.data.date.getDate()}, {post.data.date.getFullYear()} :
                    {post.data.title}
                  </li>
                </a>
              ))
          }
        </ul>
      </div>
      <div class="flex flex-col gap-2 py-8">
        <h1
          class="text-sm md:text-xl pb-2 text-textBlack/90 dark:text-textWhite weeb:text-textWhite"
        >
          Contact
        </h1>
        <p class="pb-2">
          I go by <span
            class="px-2 dark:bg-slate-800 weeb:bg-slate-800 text-pink-800 dark:text-pink-400 weeb:text-pink-400 bg-slate-200"
            >mnprt</span
          > online. Contact me via:
        </p>
        <ul class="flex flex-col gap-2">
          <li class="list-disc ml-4">
            <a
              href="mailto:>mnprt@mnprt.me"
              class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
            >
              [ email: <span class="underline">mnprt@mnprt.me</span> ]
            </a>
          </li>
          <li class="list-disc ml-4">
            <a
              href="https://bsky.app/profile/mnprt.me"
              class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
            >
              [ bsky: <span class="underline">mnprt.me</span> ]
            </a>
          </li>
          <li class="list-disc ml-4">[ discord: manpreeeeeet ]</li>
        </ul>
      </div>
    </div>
  </body>
</html>
